body{
    margin: 0;
    padding: 0;
}
a {
    color: #000;
}

/* ====================== Header ===================== */
.guitar-nav{
    width: 50px;
}

.guitar-container {
    padding: 0;
}

.guitar-login {
    background: #0b72e0 !important;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff !important;
}

.userSignUp {
    border: 2px solid #eee;
    color: #444;
    background: #eee;
    cursor: pointer;
}

.userSignUp:hover {
    color: #000;
}

.userLogin {
    border: 2px solid #eee;
    color: #444;
    background: #eee;
    cursor: pointer;
}

.userLogin:hover {
    color: #000;
}

.guitar-cart-count {
    background: #dc3545;
    padding: 2px 8px;
    border-radius: 50%;
    color: #fff;
}

.guitar-header-cart {
    margin-right: 10px;
    background: #dee2e6 !important;
    padding: 5px 20px;
    cursor: pointer;
    color: #212529 !important;
}
/* ===================== Body Homapage ================== */
.guitar-search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    outline: 0px !important;
    box-shadow: none !important;
    outline-color: transparent;
}

.guitar-box {
    height: 350px;
    overflow: hidden;   
    position: relative;
}

.guitar-container-box {
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.guitar-title {
    bottom: 0;
    position: absolute;
    z-index: 12;
    background: #00000075;
    color: #e9ecef;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
}

.guitar-price {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 12;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.9);
    color: #ffff;
}

.guitar-price-h6 {
    margin: 0;
    padding: 5px;
}

.guitrabox-link {
    cursor: pointer;
}

.about-us-para {
    background: #eee;
    padding: 10px;
}

/* *******************************Accessories********************************* */

.accessr-row{
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accessr-col {
    margin-bottom: 10px;
}
.accessr-box {
    background: #FFF;
}

.accessr-detail {
    background: #444;
    color: #fff;
    padding: 5px;
}

.accessr-price  {
    background: #dc3545;
    display: inline-block;
    padding: 1px 11px;
}

.accessr-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.accessr-buy {
    background: #007bff;
    text-align: center;
    border-radius: 15px;
    padding: 2px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.accessr-buy:hover {
    background: #6a737d;
}

.accessr-size, .accessr-small, .accessr-med, .accessr-large {
    display: inline-block
}

.accessr-small:hover, .accessr-med:hover, .accessr-large:hover {
    background: #000;
    /* padding: 5px 10px; */
    /* border-radius: 5px; */
}

.accessr-size {
    background: #eee;
    padding: 0px 0px 0px 10px;
    margin-left: 5px;
    color: #444;
    transition: all 0.3s ease-in-out;    
}
.accessr-small{
    padding: 0px 10px;
    background: #009688;
    margin-left: 5px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.accessr-med {
    padding: 0px 10px;
    background: #3F51B5;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.accessr-large {
    padding: 0px 10px;
    background: #FF5722;
    color: #FFF;
    cursor: pointer;
}

/* ====================== Guitar Details================== */
.guitar-detail-row {
    background: #eee;
    padding-top: 10px;
}

.guitar-d-info {
    padding: 10px;
    background: #ddd;
    color: #444;
    font-size: 15px;
}

.guitar-d-con {
    margin-bottom: 10px;
    /* margin-top: 10px; */
}
.guitar-ava-span{
    background: #4CAF50;
    padding: 0px 10px;
    color: #fff;
}

.guitar-detail-col {
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

.guitar-detail-box2 {
    padding-bottom: 10px;
    /* padding-top: 10px; */
}

.guitar-d-buy {
    background: #FF9800;
    display: inline-flex;
    padding: 3px 50px;
    border-radius: 20px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.guitar-d-relatedaccr {
    background: #F44336;
    color: #fff;
    padding: 10px 10px;
    margin: 0;
}
/* ==================== Footer ======================== */
.guitar-footer {
    background: #007bff !important;
}
.guitar-footer-a {
    color: #fff;
}

.guitar-footer-icons-a {
    margin: 5px;
}
.guitar-footer-icons, .guitar-footer-text {
    color: #fff;
}