body{
    margin: 0;
    padding: 0;
}
a {
    color: #000;
}

/* ====================== Header ===================== */
.guitar-nav{
    width: 50px;
}

.guitar-container {
    padding: 0;
}

.guitar-login {
    background: #0b72e0 !important;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff !important;
}

.userSignUp {
    border: 2px solid #eee;
    color: #444;
    background: #eee;
    cursor: pointer;
}

.userSignUp:hover {
    color: #000;
}

.userLogin {
    border: 2px solid #eee;
    color: #444;
    background: #eee;
    cursor: pointer;
}

.userLogin:hover {
    color: #000;
}

.guitar-cart-count {
    background: #dc3545;
    padding: 2px 8px;
    border-radius: 50%;
    color: #fff;
}

.guitar-header-cart {
    margin-right: 10px;
    background: #dee2e6 !important;
    padding: 5px 20px;
    cursor: pointer;
    color: #212529 !important;
}
/* ===================== Body Homapage ================== */
.guitar-search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    outline: 0px !important;
    box-shadow: none !important;
    outline-color: transparent;
}

.guitar-box {
    height: 350px;
    overflow: hidden;   
    position: relative;
}

.guitar-container-box {
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.guitar-title {
    bottom: 0;
    position: absolute;
    z-index: 12;
    background: #00000075;
    color: #e9ecef;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
}

.guitar-price {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 12;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.9);
    color: #ffff;
}

.guitar-price-h6 {
    margin: 0;
    padding: 5px;
}

/* ==================== Footer ======================== */
.guitar-footer {
    background: #007bff !important;
}
.guitar-footer-a {
    color: #fff;
}

.guitar-footer-icons-a {
    margin: 5px;
}
.guitar-footer-icons, .guitar-footer-text {
    color: #fff;
}